RFC011: VC signing algorithm contains errors

Section https://nuts-foundation.gitbook.io/drafts/rfc/rfc011-verifiable-credential#3.1.1-jsonwebsignature2020

## The spec wrongfully instructs to base64 encode the payload of the JWS.
According to the [LD-Proof algorithm step 4](https://w3c-ccg.github.io/ld-proofs/#proof-algorithm), the input for the  _digital proof algorithm_ should be the output of the hashing algorithm as described in
https://w3c-ccg.github.io/ld-proofs/#create-verify-hash-algorithm. There is no mention of base64 encoding the payload.
This is confirmed by the instructions of the [JSONWebsignature2020](https://w3c-ccg.github.io/lds-jws2020/#json-web-signature-2020) spec:  where it is instructed to set the `b64` header to false.

More details on how to use the `b64` JWS header can be found in [RFC7797 section 3
](https://datatracker.ietf.org/doc/html/rfc7797#section-3
)
This states that if the `b64` header is set to `false`, the payload does not have to be b64 encoded. This is only relevant for a detached signature (without a payload).

## No normalization for VC and Proof documents
RFC011 instructs to sign the `raw_vc` and `raw_proof` but does not inform how to get a raw form of the data structures. According to [Step 2 in the ld-algorithm](https://w3c-ccg.github.io/ld-proofs/#proof-algorithm) there should be a `canonicalization algorithm`. [JSONWebSignature prescribes](https://w3c-ccg.github.io/lds-jws2020/#suite-definition) that this should be the `URDNA2015` algorithm. This algorithm prefixes each field with the namespace from the JSON-LD context and places it in a certain order.


Implementation is fixed, but the spec has not been updated (whoo someone's been naughty...)